@model VGStore.Models.Productos

<div class="col-lg-3 col-md-6 pb-4 filter @Model.Consoles.Name.Replace(' ','_') filter2 @Model.Categoria.Name.Replace(' ','_')"> 
    <!--Tarjetas de productos-->
    <div class="card bg-white rounded shadow-sm" style="border: 1px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-7"><label class="float-left">@Model.Nombre</label></div>
            <div class="col-5"><label class="float-right"><span class="text-info h5">@string.Format("{0:c0}", @Model.Precio)</span></label></div>
        </div>
        <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@WC.ProductosPath@Model.Imagen" alt="Portada de producto" />
        <div class="card-body p-1 px-3 row">
            <div class="col-6">
                <span class="badge p-2 border w-100 text-wrap" style="background-color: gold">@Model.Consoles.Name</span>
            </div>
            <div class="col-6">
                <span class="badge p-2 border w-100 text-wrap" style="background-color: forestgreen">@Model.Categoria.Name</span>
            </div>
            <div class="col-12 pt-2" style="font-size: 13px; text-align: justify">
                <p>@Model.DescripcionCorta</p>
            </div>
            <div class="col-12 p-1">
                <a asp-action="Detalles" asp-route-id="@Model.IdProducto" class="btn btn-dark form-control btn-sm p-2" style="height: 40px;">Ver detalles</a>
            </div>
        </div>
    </div>
</div>
